body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
}


header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin-top: 8px;
}

main {
    width: 94%;
    max-width: 1300px;
    margin: 35px auto;
}


.presentacion {
    text-align: center;
    margin-bottom: 45px;
}

.presentacion p {
    max-width: 900px;
    margin: 10px auto;
    line-height: 1.6;
}


.seccion-galeria h2 {
    text-align: center;
    margin-bottom: 25px;
}

.galeria {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}



.tarjeta {
    background-color: white;
    width: calc(33.33% - 17px);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.tarjeta img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.tarjeta h3 {
    font-size: 20px;
    margin: 18px 18px 10px;
}

.tarjeta p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 18px;
}

.tarjeta a,
.volver {
    display: inline-block;
    background-color: #e7b900;
    color: #222;
    text-decoration: none;
    padding: 9px 14px;
    margin: 18px;
    border-radius: 4px;
}

.tarjeta a:hover,
.volver:hover {
    background-color: #d1a700;
}

.documentacion {
    margin-top: 45px;
    text-align: center;
}

.documentacion a {
    color: #222;
}


.detalle {
    text-align: center;
    max-width: 900px;
}

.detalle p {
    line-height: 1.7;
    text-align: left;
}


.imagen-detalle {
    width: 65%;
    max-width: 550px;
    max-height: 500px;
    object-fit: contain;
    margin: 20px auto;
    display: block;
    border-radius: 6px;
}

.imagen-principal {
    width: 40%;
    max-width: 450px;
    height: 240px;
    object-fit: cover;
    margin: 20px auto;
    display: block;
    border-radius: 6px;
}
.imagen-destacada {
    text-align: center;
    margin-bottom: 40px;
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
